@use "src/sass/abstracts/functions";

* {
  font-family: Inter, serif;
}

h1 {
  font-weight: 500;
  font-size: functions.toRem(40);
  text-transform: uppercase;
  line-height: 120%;
  color: var(--main-text-color)
}