@use "src/sass/abstracts/functions";

.adminCard {
  border: 1px solid var(--button-bg-color);
  border-radius: 30px;
  overflow: hidden;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__price {
    font-weight: 700;
    font-size: functions.toRem(16);
    line-height: 130%;
    color: var(--main-text-color);
  }

}

.info {
  width: 100%;
  margin-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 10px;


  &__size {
    display: flex;
    align-items: center;

    svg {
      height: 15px;
      margin-right: 8px;
    }

    span {
      font-weight: 400;
      font-size: functions.toRem(12);
      line-height: 130%;
      color: var(--sub-text-color);
    }
  }

  h2 {
    font-weight: 700;
    font-size: functions.toRem(20);
    line-height: 36px;
    color: var(--main-text-color);
    display: -webkit-box;
    overflow: hidden;
    cursor: pointer;

    @media (max-width: 767px) {
      font-weight: 500;
      font-size: functions.toRem(20);
      line-height: 24px;
    }
  }

  &__description {
    font-weight: 300;
    font-size: functions.toRem(12);
    line-height: 150%;
    color: var(--sub-text-color);
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.buttons {
  display: flex;
  margin-right: 20px;
  gap: 20px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--button-bg-color);
    border-radius: 50%;
    cursor: pointer;
  }
}