:root {
  --bg-color: #fff;
  --main-text-color: #111111;
  --sub-text-color: #3F4E65;
  --line-color: #3F4E65;
  --button-bg-color: #FFC85E;
  --button-text-color: #fff;
  --search-input-bg-color: #EDEDED;
  --search-input-text-color: #5C6370;
  --counter-bg-color: #FFC85E;
  --counter-text-color: #fff;
  --price-range-input-color: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  --product-card-box-shadow: 0 14px 39px -11px rgba(0, 0, 0, 0.06);
  --pagination-active-color: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);

}
