:root {
  --main-text-color: #111111;
  --sub-text-color: #3F4E65;
  --line-color: #3F4E65;
  --button-bg-color: #FFC85E;
  --button-text-color: #fff;
  --search-input-bg-color: #EDEDED;
  --search-input-text-color: #5C6370;
  --counter-bg-color: #FFC85E;
  --counter-text-color: #fff;
}
