@use "src/sass/abstracts/functions";

.hiddenInfo {

  &__title {
    font-weight: 500;
    font-size: functions.toRem(16);
    line-height: 150%;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    &_active {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    margin-top: 15px;
    display: none;

    &_active {
      display: block;
    }
  }

}