.typeFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;

  @media (max-width: 1370px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }

  @media (max-width: 992px) {
    display: none;
  }

  &__card {
    text-align: center;
    padding: 18px 16px;
    box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    cursor: pointer;
    color: var(--sub-text-color);
    border: 1px solid #fff;

    &:hover {
      border: 1px solid var(--button-bg-color);
    }

    &_active {
      border: 1px solid var(--button-bg-color);
      background: var(--active-bg-color);
    }
  }
}