.headerAbout {
  background-color: var(--bg-color);

  &__content {
    display: flex;
    justify-content: space-between;
    height: 61px;

    @media (max-width: 992px) {
      margin-top: 20px;
      height: 100%;
      flex-direction: column;
    }
  }

  &__dashedUnderline {
    border-bottom: 1px dashed var(--line-color);
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: none;
    opacity: 0.2;

    @media (max-width: 992px) {
      display: block;
    }
  }
}


.background {
  @media (max-width: 992px) {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 100%;
    display: none;
  }

  &__active {
    display: block;
  }
}