

.headerAbout {

  height: 100%;
  @media (max-width: 992px) {
    display: none;
  }

  &_active {
    display: block;
  }

  &__dashedUnderline {
    border-bottom: 1px dashed var(--line-color);
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: none;
    opacity: 0.2;

    @media (max-width: 992px) {
      display: block;
      width: 720px;
    }

    @media (max-width: 767px) {
      width: 100% !important;
    }

  }

  &__wrapper {
    height: 61px;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    background-color: var(--bg-color);

    @media (max-width: 992px) {
      margin-top: 1px;
      top: 100%;
      height: 100%;
      //display: none;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      //overflow-x: hidden;
      padding-top: 20px;
      padding-bottom: 32px;
      z-index: 10;
    }

    @media (max-width: 767px) {
      display: block;
      width: calc(100% - 30px);
    }
  }

}
