@use "src/sass/abstracts/functions";

.cosmeticsHygiene {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__sort {
    @media (max-width: 767px) {
      display: none;
    }
  }

}