.button, button {
  padding: 21px 54px;
  background-color: var(--button-bg-color);
  border-radius: 79px;
  color: var(--button-text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--hover-button-bg-color);
  }

  @media (max-width: 1200px) {
    padding: 21px 34px;
  }

  span {
    margin-right: 12px;
  }
}