.button, button {
  padding: 21px 54px;
  background-color: var(--button-bg-color);
  border-radius: 79px;
  color: var(--button-text-color);
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1200px) {
    padding: 21px 34px;
  }

  span {
    margin-right: 12px;
  }
}