@use "src/sass/abstracts/functions";

.searchInput {
  background-color: var(--search-input-bg-color);
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 20px;
  border-radius: 36px;


  input {
    background-color: var(--search-input-bg-color);
    width: 100%;
    margin-right: 10px;
    height: 100%;
    font-size: functions.toRem(12);

    &::-moz-placeholder {
      color: var(--search-input-text-color);
    }

    &::-webkit-input-placeholder {
      color: var(--search-input-text-color);
    }
  }
}
