@use "src/sass/abstracts/functions";

.filters {

  &__unActive {
    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  @media (max-width: 767px) {
    cursor: pointer;
  }

  h3 {
    text-transform: uppercase;
    font-size: functions.toRem(16);
    font-weight: 500;
    line-height: 150%;
  }

  &__more {
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    background: var(--price-range-input-color);
    border-radius: 50%;
    display: none;

    &_active {
      svg {
        transform: rotate(90deg) !important;
      }
    }

    @media (max-width: 767px) {
      display: flex;
    }

    svg {
      transform: rotate(-90deg);
      width: 4px;
      height: 8px;

      path {
        fill: var(--sub-text-color);
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;

  .button__show {
    padding: 21px 51px;

    @media (max-width: 767px) {
      width: 100%;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .button__clear {
    background-color: var(--button-bg-color);
    border-radius: 50%;
    padding: 17px;
    cursor: pointer;
  }
}