@use "src/sass/abstracts/functions";

.sort {
  display: flex;
  font-size: functions.toRem(16);
  line-height: 150%;

  @media (max-width: 992px) {
    display: none;
  }

  &__header {
    font-weight: 500;
    margin-right: 5px;
    color: var(--main-text-color);
  }

  &__chooseSortType {
    position: relative;
    //width: 115px;
  }
}

.dropDown {
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  padding-left: 10px;
  padding-bottom: 10px;

  background-color: var(--bg-color);

  &_active {
    display: block;
  }
}